<footer class="text-center text-lg-start bg-light text-muted">
   <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Projeto Integrador em Computação II sl 1 Grupo 18
    <a class="text-reset fw-bold" href="https://univesp.br/">univesp.com</a>
  </div>
</footer>


