
 
<div class="testbox">
<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary fixed-top">
 
  <a class="navbar-brand text-white font-weight-bold" href="/">Pneu Inspector V1</a>
 

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">☰</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
      

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opções
        </a>

        <div class="dropdown-menu text-white font-weight-bold" aria-labelledby="dropdownCadastroButton">
          <a class="dropdown-item" href="/admin/inspecao">NOVA INSPEÇÃO</a>
         
        </div>

      </li>
      
      <li class="nav-item dropdown " rounded  >
        <a class="nav-link dropdown-toggle text-white font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Listagens
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownCadastroButton">
          <a class="dropdown-item" href="/listagens/veiculos">VEÍCULOS</a>
          <a class="dropdown-item" href="/listagens/pneus">PNEUS/EMPARELHAMENTOS</a>
          <a class="dropdown-item" href="/listagens/motoristas">MOTORISTAS</a>
          <a class="dropdown-item" href="/listagens/inspecoes">INSPEÇÕES</a>
         
        </div>

      </li>

      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold" href="mailto:2002624@aluno.univesp.br">Contato</a>
      </li>

    </ul>
  </div>
</nav>
</div>



