
{{#each erros}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{/each}}  


  <div class="container text-center bg-dark w-100">
      
        <img class="img-fluid" alt="Responsive image" src="/img/logomarca.jpg">
  </div>
     



 





