
{{#each erros}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{/each}}  

  <div class="container text-center">
      <div class="item">
        <img src="/img/logo.png" heigth="60%" width="80%">
      </div>
  </div>  



 





