
{{#each erros}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{/each}}  


  <div class="container text-center w-100">
      
       <img src="/img/logo.png" heigth="60%" width="80%">
  </div>
     



 





