
{{#each erros}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{/each}}  


  <div class="container text-center bg-dark w-100">
      
       <img src="/img/logomarcapng.png" heigth="60%" width="80%">
  </div>
     



 





