
{{#each erros}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{/each}}  
 

<div class = "container text-dark">
  <br>
  <div class="container-fluid mb-3 bg-white text-dark rounded">
    <form id="inspt" action ="/posts/inspetores" name ="insptForm" method="POST">       
    <br>
      <div class="banner">
        <h3><b> NOVO INSPETOR</h3>
      </div>  
    
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>   
        <input type="text" class="form-control" name="nome" id="nome" required/>
      </div>
    
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>   
        <input type="email" class="form-control" name="email" id="email">
      </div>    
      
      <div class="mb-3">
        <label for="contato" class="form-label">Tel. Contato</label>   
        <input type="text" class="form-control" id="contato" name="contato" required>
      </div>
    
      <div class="mb-3">
        <label for="matricula" class="form-label">Matrícula</label>   
        <input type="text" class="form-control" id="matricula" name="matricula" required>
      </div>

      <div class="btn-block">
        <button class="btn btn-success" type="submit">Registrar</button>
      </div>

    </form>
  </div>  
  <br>
</div>
